services:
  db:
    image: postgres:17-alpine
    container_name: sportz_db
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: sportz
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
